/* style for addDevice */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 10px;
    padding: 10px;
}

.form-container {
    width: 50%;
    border: 10px solid #ccc;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: relative;
}

.logo {
    position: absolute;
    top: 20px;
    left: 35px;
    width: 80px; /* Adjust size as needed */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.header h1 {
    text-align: center;
    margin: 10px 0;
    font-size: 30px;
    color: #333;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: grid;
    gap: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}
select {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    width: 103%;
}

select:focus {
    outline: none;
    border-color: #28a745;
}

option {
    padding: 10px;
}


button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
